<div>
  <div>
    <h1>
      List of all households
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new household
    </h2>

    <form action="/insert_household" method="post">
      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address">
      </div>

      <button>
        Create household
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Owner
        </th>

        <th>
          Address
        </th>

        <th>
          Year built
        </th>

        <th>
          Equipment count
        </th>

        <th>
          Clothes count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_households.each do |a_household| %>
      <tr>
        <td>
          <%= a_household.id %>
        </td>

        <td>
          <%= a_household.owner_id %>
        </td>

        <td>
          <%= a_household.address %>
        </td>

        <td>
          <%= a_household.year_built %>
        </td>

        <td>
          <%= a_household.equipment_count %>
        </td>

        <td>
          <%= a_household.clothes_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_household.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_household.updated_at) %> ago
        </td>

        <td>
          <a href="/households/<%= a_household.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
